shared/durable
shared/archive/message*.*
settings.json
# Compiled output
workflow-ui/dist
workflow-ui/tmp
workflow-ui/out-tsc
workflow-ui/bazel-out

# Node
workflow-ui/node_modules
workflow-uinpm-debug.log
workflow-uiyarn-error.log

# IDEs and editors
workflow-ui/.idea/
workflow-ui/.project
workflow-ui/.classpath
workflow-ui/.c9/
workflow-ui/*.launch
workflow-ui/.settings/
workflow-ui/*.sublime-workspace

# Visual Studio Code
workflow-ui/.vscode/*
workflow-ui/!.vscode/settings.json
workflow-ui/!.vscode/tasks.json
workflow-ui/!.vscode/launch.json
workflow-ui/!.vscode/extensions.json
workflow-ui/.history/*

# Miscellaneous
workflow-ui/.angular/cache
workflow-ui/.sass-cache/
workflow-ui/connect.lock
workflow-ui/coverage
workflow-ui/libpeerconnection.log
workflow-ui/testem.log
workflow-ui/typings

# System files
workflow-ui/.DS_Store
workflow-ui/Thumbs.db

## Configuration
workflow-ui/src/app/app.module_functional.ts