.option-card {
    width: 90vw;
    display: flex;
}

.action-card {
    justify-content: center;
}

.container-options {
    display: grid;
}

.div-card {
    width: 100vw;
    display: flex;
    margin-top: 12px;
    justify-content: center;
    height: 50vh;
}

mat-form-field {
    width: 100%;
}
.login-card {
    width: 90vw;
    display:inline-block;
}

.login-header-image {
    background-image: url('/assets/lock.png');
    background-size: cover;
}

.action-card {
    justify-content: center;
}

.div-header {
    width: 100vw;
    height: 15vh;
    margin: 12px 0 0 12px;
}

.img-logo {
    object-fit: cover;
    height: 100%;
}